{% extends 'base_painel.html' %}
{% load staticfiles %}

{% block content %}
    <!-- /.box-header -->
    <div class="box box-primary"  style="margin-top: 30px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <center style="font-size: 20px;">Visualização da Necessidade</center>
                </h3>
            </div>
        </div>

        <!-- form start -->
        <form class="form-horizontal" method="post"
              style="margin-top: 20px; margin-left: 15%;margin-right: 10% ">
            <div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Item: </label>
                    {{ object.item.name_item }}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Descrição: </label>
                    {{ object.item.description }}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Dono: </label>
                    {{ object.item.owner.first_name }}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Tipo de Necessidade: </label>
                    {{ object.type }}
                </div>
            </div>

            <!-- Button -->
            <div class=" box-footer form-group" style="margin-top: 35px;">
                <div class="col-md-8 col-md-offset-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="{% url "painel" %}" id="btn_cancelar" class="btn btn-default
                                 pull-left">Voltar</a>
                        </div>
                        <div class="col-sm-4">
                            {% if object.item.owner.pk == user.pk %}
                                <a href="{% url 'change_object' object.item.pk %}" id="btn_alterar"
                                   class="btn btn-primary pull-right">Alterar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#donations').addClass('active');
        });
    </script>

{% endblock %}