{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <form method="post" class="form-horizontal">{% csrf_token %}
        <fieldset>
            <!-- Form Name -->
            <legend class="text-center">Cadastro Usuário</legend>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Nome</label>
                <div class="col-md-4">
                    {{ form.first_name }}

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Sobrenome</label>
                <div class="col-md-4">
                    {{ form.last_name }}

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="cpf">CPF</label>
                <div class="col-md-4">
                    {{ form.cpf }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="dataNascimento">Data de nascimento</label>
                <div class="col-md-4">
                    {{ form.birth_date }}
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="cep">CEP</label>
                <div class="col-md-4">
                    {{ form.cep }}

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="estado">Estado</label>
                <div class="col-md-4">
                    {{ form.state }}
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="municipio">Cidade</label>
                <div class="col-md-4">
                    {{ form.city }}
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="bairro">Bairro</label>
                <div class="col-md-6">
                    {{ form.district }}

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="rua">Rua</label>
                <div class="col-md-6">
                    {{ form.address }}

                </div>
            </div>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="numero">Numero</label>
                <div class="col-md-2">
                    {{ form.number }}

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="complemento">Complemento</label>
                <div class="col-md-6">
                    {{ form.complement }}

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="telefone1">Telefone</label>
                <div class="col-md-4">
                    {{ form.phone }}

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-6">
                    {{ form.email }}

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="login">Login</label>
                <div class="col-md-4">
                    {{ form.username }}
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="senha">Senha</label>
                <div class="col-md-4">
                    {{ form.password }}
                </div>
            </div>

            <!-- Checkbox input -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="anonymous">Doar Anonimamente</label>
                <div class="col-md-1">
                    {{ form.anonymous }}
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <button id="btn_salvar" class="btn btn-success btn-block" type="submit">Salvar</button>
                        </div>
                        <div class="col-sm-4">
                            <a href="/" id="btn_cancelar" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
    {#    <script type="text/javascript">#}
    {#        window.alert = function () {#}
    {#        };#}
    {#        var defaultCSS = document.getElementById('bootstrap-css');#}
    {##}
    {#        function changeCSS(css) {#}
    {#            if (css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="' + css + '" type="text/css" />');#}
    {#            else $('head > link').filter(':first').replaceWith(defaultCSS);#}
    {#        }#}
    {##}
    {#    </script>#}

{% endblock %}