{% extends 'base_painel.html' %}
{% load staticfiles %}

{% block content %}
    <div class="box box-primary" style="margin-top: 30px;">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <center style="font-size: 20px;">Cadastrar Objeto</center>
                </h3>
            </div>
        </div>

        <form method="post" class="form-horizontal" style="margin-top: 30px;">{% csrf_token %}
            <fieldset>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="name_item">Nome</label>
                    <div class="col-md-6">
                        {{ form.name_item }}

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="description">Descricão</label>
                    <div class="col-md-6">
                        {{ form.description }}

                    </div>
                </div>

                <!-- Type Input -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="object_type">Tipo de Objeto</label>
                    <div class="col-md-6">
                        {{ form.object_type }}

                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-3">
                        <div class="row">
                            <div class="col-sm-4">
                                <button id="btn_salvar" class="btn btn-success btn-block" type="submit">Salvar</button>
                            </div>
                            <div class="col-sm-4">
                                <a href="/" id="btn_cancelar" class="btn btn-danger btn-block">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#donations').addClass('active');
        });
    </script>


{% endblock %}