{% extends 'base_painel.html' %}
{% load staticfiles %}
{% block content %}
    {#    <div class="row">#}
    {#        <div class="col-md-12">#}
    {#            {% for item in itens %}#}
    {#                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="height: 400px;">#}
    {#                    <div class="box box-default">#}
    {#                        <div class="box-header with-border">#}
    {#                            <h3 class="box-title">{{ item.name_item }}</h3>#}
    {#                            <h6 class="box-comment">Doador: {{ item.owner.first_name }}</h6>#}
    {##}
    {#                        </div>#}
    {#                        <!-- /.box-header -->#}
    {#                        <div class="box-body">#}
    {#                            <div class="row">#}
    {#                                <div class="col-lg-12">#}
    {#                                    {% if item.photo %}#}
    {#                                        <img src="{{ item.photo }}" alt="Product Image" class="img-responsive">#}
    {#                                    {% else %}#}
    {#                                        <img src="{% static '300x300.png' %}" alt="Product Image"#}
    {#                                             class="img-responsive">#}
    {#                                    {% endif %}#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <!-- /.row -->#}
    {#                        </div>#}
    {#                        <!-- /.box-body -->#}
    {#                        <style>#}
    {#                            ul.nav > li:hover > a:hover {#}
    {#                                background: #49c749;#}
    {#                            }#}
    {##}
    {#                            .hidden {#}
    {#                                display: none;#}
    {#                            }#}
    {##}
    {#                            ul.nav > li:hover > a:active {#}
    {#                                background: #49c749;#}
    {#                            }#}
    {##}
    {#                            ul.nav > li:hover > a:visited {#}
    {#                                background: #49c749;#}
    {#                            }#}
    {#                        </style>#}
    {#                        <div class="box-footer no-padding">#}
    {#                            <div class="row">#}
    {#                                <div class="col-lg-12">#}
    {#                                    <a href="{% url 'view-object' item.pk %}" type="button" id="btn-comprar-{{ item.pk }}"#}
    {#                                            class="btn btn-success btn-block buy"#}
    {#                                            data-form-id="#form-{{ item.pk }}"#}
    {#                                            style="color: #ffffff; font-weight: bold;"> Ver Item#}
    {#                                    </a>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <!-- /.footer -->#}
    {#                    </div>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        </div>#}
    {#    </div>#}
    {#    <script type="text/javascript">#}
    {#        $(document).ready(function () {#}
    {#            $('#inicio').addClass('active');#}
    {#        });#}
    {#    </script>#}
    {#    <!-- /.row -->#}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-header">
                    <p>Doações Disponíveis</p>
                    {#                    <a href="{% url 'add_object' %}" class="btn btn-primary">Cadastrar Doação</a>#}
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ITEM</th>
                                        <th>DOADOR</th>
                                        <th>TIPO</th>
                                        <th>STATUS</th>
                                        <th>CRIADO EM</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in itens %}
                                        <tr>
                                            <td><a href="{% url 'view-object' item.pk %}">{{ item.name_item }}</a></td>
                                            <td>
                                                {% if not item.owner.common_user_set.first.anonymous %}
                                                    <a href="#">{{ item.owner.first_name }}</a>
                                                {% endif %}

                                            </td>
                                            <td>
                                                {% if item.object_set.first %}
                                                    {{ item.object_set.first.type }}
                                                {% else %}
                                                    Serviço
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if item.status %}
                                                    <label class="label label-success"><i class=""></i>
                                                        DISPONÍVEL</label>
                                                {% else %}
                                                    <label class="label label-danger"><i class=""></i> DOADO</label>
                                                {% endif %}
                                            </td>
                                            <td>{{ item.created_at|date:"d/m/Y G:i" }}</td>
                                            <td>
                                                <a href="{% url 'view-object' item.pk %}">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                {% if user.is_superuser %}
                    <div class="box-footer">
                        <a href="{% url 'painel' %}" class="btn btn-default pull-left">Voltar</a>
                    </div>
                {% endif %}
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#inicio').addClass('active');
        });
    </script>
    <!-- /.row -->
{% endblock %}