{% extends 'base_painel.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% for item in itens %}
                <form method="post" action="#">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">{{ item.name_item }}</h3>
                                <h6 class="box-comment">{{ item.description }}</h6>

                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        {% if item.photo %}
                                             <img src="{{ item.photo }}" alt="Product Image" class="img-responsive">
                                        {% else %}
                                             <img src="{% static '300x300.png' %}" alt="Product Image" class="img-responsive">
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-body -->
                            <style>
                                ul.nav > li:hover > a:hover {
                                    background: #49c749;
                                }

                                .hidden {
                                    display: none;
                                }

                                ul.nav > li:hover > a:active {
                                    background: #49c749;
                                }

                                ul.nav > li:hover > a:visited {
                                    background: #49c749;
                                }
                            </style>
                            <div class="box-footer no-padding">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button" id="btn-comprar-{{ item.pk }}"
                                                class="btn btn-success btn-block buy"
                                                data-form-id="#form-{{ item.pk }}"
                                                style="color: #ffffff; font-weight: bold;">COLETAR
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.footer -->
                        </div>
                    </div>
                </form>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#inicio').addClass('active');
        });
    </script>
    <!-- /.row -->

{% endblock %}