{% extends 'base_painel.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>DOADOR</th>
                                        <th>ITEM</th>
                                        <th>INSTITUICAO</th>
                                        <th>STATUS</th>
                                        <th>DATA</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for donation in donations %}
                                        <tr>
                                            <td>{{ donation.id }}</td>
                                            <td><a href="{% url 'view-profile' donation.donator.pk %}">{{ donation.donator.first_name }}</a></td>
                                            <td><a href="{% url 'view-object' donation.item.pk %}">{{ donation.item.name_item }}</a></td>
                                            <td><a href="{% url 'view-profile' donation.institute.pk %}">{{ donation.institute.first_name }}</a></td>
                                            <td>
                                                {% if donation.is_completed %}
                                                    <label class="label label-success"><i class=""></i>
                                                        FINALIZADA</label>
                                                {% else %}
                                                    <label class="label label-warning"><i class=""></i>PENDENTE</label>
                                                {% endif %}
                                            </td>
                                            <td>{{ donation.data|date:"d/m/Y " }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                {% if user.is_superuser %}
                    <div class="box-footer">
                        <a href="{% url 'painel' %}" class="btn btn-default pull-left">Voltar</a>
                    </div>
                {% endif %}
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#my_donations').addClass('active');
        });
    </script>
    <!-- /.row -->

{% endblock %}