{% extends 'base_painel.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-header">
                    <a href="{% url 'add_object' %}" class="btn btn-primary">Cadastrar Doação</a>
                </div>
                <!-- /.box-body -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>ITEM</th>
                                        <th>TIPO</th>
                                        <th>STATUS</th>
                                        <th>CRIADO EM</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in itens %}
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td><a href="{% url 'view-object' item.pk %}">{{ item.name_item }}</a></td>
                                            <td>
                                                {% if item.object_set.first %}
                                                    {{ item.object_set.first.type }}
                                                {% else %}
                                                    Serviço
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if item.status %}
                                                    <label class="label label-success"><i class=""></i>
                                                        DISPONÍVEL</label>
                                                {% else %}
                                                    <label class="label label-danger"><i class=""></i> DOADO</label>
                                                {% endif %}
                                            </td>
                                            <td>{{ item.created_at|date:"d/m/Y G:i" }}</td>
                                            <td>
                                                <a class="remover" href="{% url 'delete_object' item.pk %}">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                {% if user.is_superuser %}
                    <div class="box-footer">
                        <a href="{% url 'painel' %}" class="btn btn-default pull-left">Voltar</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#my_objects').addClass('active');
        });
    </script>

{% endblock %}