{% extends 'base_painel.html' %}
{% load staticfiles %}

{% block content %}
    {# Example content #}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-header">
                    <a href="{% url "add_requirement" %}" class="btn btn-primary">Adicionar Necessidade</a>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>ITEM</th>
                                        <th>TIPO</th>
                                        <th>STATUS</th>
                                        <th>CRIADO EM</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in requirements %}
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td><a href="{% url 'view-requirement' item.pk %}">{{ item.name }}</a></td>
{#                                            <td><a href="#">{{ item.name }}</a></td>#}
                                            <td>
                                                {{ item.type }}
                                            </td>
                                            <td>
                                                {% if item.status %}
                                                    <label class="label label-warning"><i class=""></i> AGUARDANDO</label>
                                                {% else %}
                                                    <label class="label label-success"><i class=""></i>
                                                        COLETADO</label>
                                                {% endif %}
                                            </td>
                                            <td>{{ item.created_at|date:"d/m/Y G:i" }}</td>
                                            <td>
                                                <a class="remover" href="{% url 'delete_requirement' item.pk %}">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                {% if user.is_superuser %}
                    <div class="box-footer">
                        <a href="{% url 'painel' %}" class="btn btn-default pull-left">Voltar</a>
                    </div>
                {% endif %}
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#list_my_requirements').addClass('active');
        });
    </script>
    <!-- /.row -->

{% endblock %}