{% extends 'base_painel.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="box">
            <!-- /.box-body -->
            <div class="box-body">
                <div class="col-md-6">

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            {% if user_l.commonuser %}
                                {% if user_l.commonuser.photo %}
                                    <img class="profile-user-img img-responsive img-circle"
                                         src="{{ user_l.commonuser.photo }}"
                                         alt="User profile picture">
                                {% else %}
                                    <img class="profile-user-img img-responsive img-circle"
                                         src="{% static '300x300.png' %}"
                                         alt="User profile picture">
                                {% endif %}
                            {% else %}
                                {% if user_l.institute.photo %}
                                    <img class="profile-user-img img-responsive img-circle"
                                         src="{{ user_l.institute.photo }}"
                                         alt="User profile picture">
                                {% else %}
                                    <img class="profile-user-img img-responsive img-circle"
                                         src="{% static '300x300.png' %}"
                                         alt="User profile picture">
                                {% endif %}
                            {% endif %}

                            <h3 class="profile-username text-center">{{ user_l.first_name }} {{ user_l.last_name }}</h3>

                            {% if user_l.commonuser.cpf %}
                                <p class="text-muted text-center">Usuário</p>
                            {% else %}
                                <p class="text-muted text-center">Instituição</p>
                            {% endif %}


                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Doações Recebidas</b> <a class="pull-right">543</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Doações Realizadas</b> <a class="pull-right">13,287</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Informações</h3>
                        </div>
                        <div class="box-body">
                            <strong><i class="fa fa-book margin-r-5"></i> Telefone</strong>

                            <p class="text-muted">
                                {% if user_l.commonuser %}
                                    {{ user_l.commonuser.phone }}
                                {% else %}
                                    {{ user_l.institute.phone }}
                                {% endif %}
                            </p>

                            <hr>

                            <strong><i class="fa fa-map-marker margin-r-5"></i> Endereço</strong>

                            <p class="text-muted">
                                {% if user_l.commonuser %}
                                    {{ user_l.commonuser.address }}, {{ user_l.commonuser.number }},
                                    {{ user_l.commonuser.district }}, {{ user_l.commonuser.city }},
                                    {{ user_l.commonuser_set.first.state }} - {{ user_l.commonuser.cep }}
                                {% else %}
                                    {{ user_l.institute.address }}, {{ user_l.institute.number }},
                                    {{ user_l.institute.district }}, {{ user_l.institute.city }},
                                    {{ user_l.institute.state }} - {{ user_l.institute.cep }}
                                {% endif %}
                            </p>

                            <hr>

                            <strong><i class="fa fa-file-text-o margin-r-5"></i> Email</strong>

                            <p>
                                {{ user_l.email }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class=" box-footer form-group" style="margin-top: 35px;">

                <div class="col-md-8 col-md-offset-3">
                    <div class="row">

                        <div class="col-md-4">
                            <a href="#" id="btn_cancelar" class="btn btn-default btn-block
                                 pull-left">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script>
        $(document).ready(function () {
            $('#btn_cancelar').click(function () {
                return window.history.back();
            });
        });
    </script>

{% endblock %}
