{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow">

        <title>Cadastro Instituição</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">
        <style type="text/css">

        </style>
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    </head>
    <body style="">

    <form action="{% url 'cadastro_inst_proc' %}" method="post" class="form-horizontal">
        <fieldset>
            {% csrf_token %}

            <!-- Form Name -->
            <legend>Cadastro Instituição</legend>

            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Nome</label>
                <div class="col-md-4">
                    <input id="nome" name="nome" type="text" placeholder="nome" class="form-control input-md"
                           required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="CNPJ">CNPJ</label>
                <div class="col-md-4">
                    <input id="CNPJ" name="CNPJ" type="text" placeholder="CNPJ" class="form-control input-md"
                           required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="cep">CEP</label>
                <div class="col-md-4">
                    <input id="cep" name="cep" type="text" placeholder="CEP" class="form-control input-md" required="">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="estado">Estado</label>
                <div class="col-md-4">
                    <input id="estado" name="estado" type="text" placeholder="Estado" class="form-control input-md">
                    </input>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="municipio">Cidade</label>
                <div class="col-md-4">
                    <input id="cidade" name="cidade" type="text" placeholder="Cidade" class="form-control input-md">

                    </input>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="bairro">Bairro</label>
                <div class="col-md-6">
                    <input id="bairro" name="bairro" type="text" placeholder="Bairro" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="logradouro">Rua</label>
                <div class="col-md-6">
                    <input id="rua" name="rua" type="text" placeholder="Av...Rua....etc"
                           class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="numero">Numero</label>
                <div class="col-md-2">
                    <input id="numero" name="numero" type="text" placeholder="Numero" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="complemento">Complemento</label>
                <div class="col-md-6">
                    <input id="complemento" name="complemento" type="text" placeholder="Complemento"
                           class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="telefone1">Telefone</label>
                <div class="col-md-4">
                    <input id="telefone" name="telefone" type="text" placeholder="Telefone"
                           class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-6">
                    <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md">

                </div>
            </div>


            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="senha">Senha</label>
                <div class="col-md-4">
                    <input id="senha" name="senha" type="password" placeholder="senha" class="form-control input-md"
                           required="">

                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                    <button id="button1id" name="button1id" class="btn btn-success">Salvar</button>
                    <button id="Cancelar" name="Cancelar" class="btn btn-danger">Cancelar</button>
                </div>
            </div>

        </fieldset>
    </form>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>


    <script type="text/javascript">

    </script>


    </body>
    </html>
{% endblock %}