{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container text-center">
        <div class="row" style="margin-top: 60px; margin-bottom: 60px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h3 style="color: #000" class="text-center">De que forma você vai promover uma tranformação
                            social</h3>
                    </div>
                </div>
            </div>
            <div class="row" class="text-center">
                <div class="col-md-12">
                    <p class="lead" class="text-center"> Você pode doar objetos e serviços e ajudar muita gente</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="lead" class="text-center">
                        Selecione uma Opção abaixo:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <a class="btn btn-primary btn-lg btn-block" href="#">Objetos</a>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-primary btn-lg btn-block" href="#">Serviços</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}