{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <p>
   <div class="container">
    <div class="row" style="margin-top: 60px;">
		<div class="col-sm-20 text-center">


                		<div class="panel">
        	    <div class="panel-heading">
                    <h1>De que forma você vai promover uma tranformação social</h1>
        	    </div>
                <div class="panel-body">
    <font color="blue">Você pode doar objetos e serviços e ajudar muita gente</font>



                </div>


<body>
 <p> Selecione uma opção abaixo.</p>
    <a class="btn btn-primary btn-lg" href="#">Objetos</a>

    <a class="btn btn-primary btn-lg" href="#">Serviços</a>
  </body>


			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}