{% load staticfiles %}

<footer id="footer">
    <div class="container">
        <div class="col-md-4 col-md-offset-2 col-sm-6 ">
            <h4>Quem somos</h4>

            <p>Troca do Bem é uma iniciativa lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <hr>

            <h4>Receba Notícias</h4>

            <form method="post" action="#">
                {% csrf_token %}
                <div class="input-group">
                    <input type="email" class="form-control" name="email" id="subscribe" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-send"></i></button>
                    </span>
                </div>
                <!-- /input-group -->
            </form>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-4 col-md-offset-1 col-sm-6">

            <h4>Contato</h4>

            <p><strong>Troca do Bem Group.</strong>
                <br>Rua Aprigio Veloso, 882, BL CN
                <br>Bairro Universitario, ZIP CODE: 58.429-900
                <br>Phone: +55 (83) 2101-1196
                <br>Paraiba, <strong>Brazil</strong>
                <br>
            </p>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-3 -->
    </div>
    <!-- /.container -->
</footer>
<!-- /#footer -->


<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            <p class="pull-left">&copy; 2017. Troca do Bem </p>

            <p class="pull-right">Template by <a href="#">LES Group 2</a>
            </p>

        </div>
    </div>
</div>
<!-- /#copyright -->
