{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'carrossel.html' %}

    <section class="bar background-gray no-mb padding-big text-center-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-uppercase" style="color: #000;">Quem Somos?</h2>
                    <p class="lead mb-small">40+ Instituições cadastradas</p>
                    <p class="mb-small">We have prepared literally <strong>everything you would possibly need building
                        corporate, e-commerce or portfolio website</strong>. If you still miss something, let us know
                        and we will try to include it in theme's future updates.</p>

                    <p><a href="#" class="btn btn-template-main">Ver Instituições</a>
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="{% static 'img/template-easy-customize.png' %}" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </section>

    <section class="bar no-mb color-white padding-big text-center-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="{% static 'img/template-easy-code.png' %}" alt="" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <h2 class="text-uppercase">Muita gente de coração bom doando</h2>
                    <p class="lead mb-small">Acompanhe em tempo real</p>
                    <p class="mb-small">Everything in this template is properly named and categorized. In case you don't
                        find in the documentation answer to your question, our support is here to help!</p>

                    <p><a href="#" class="btn btn-template-transparent-primary">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% if recent_posts %}
        <section class="bar background-gray no-mb padding-big text-center-sm" id="noticias">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h3 style="color: #000">Notícias Recentes</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for post in recent_posts %}
                        <div class="col-md-4 col-sm-6 ">
                            <div class="box-image-text blog">
                                <div class="top">
                                    <div class="image text-center">
                                        {% if post.imagepost_set.first %}
                                            <img src="{{ post.imagepost_set.first.image.url }}" alt=""
                                                 class="img-responsive"
                                                 style="max-height: 200px; min-height: 100px; display: inline;">
                                        {% else %}
                                            <img src="{% static '300x300.png' %}" alt=""
                                                 class="img-responsive"
                                                 style="max-height: 200px; min-height: 100px; display: inline;">
                                        {% endif %}
                                    </div>
                                    <div class="bg"></div>
                                    <div class="text">
                                        <p class="buttons">
                                            <a href="{{ post.get_absolute_url }}"
                                               class="btn btn-template-transparent-primary"><i
                                                    class="fa fa-link"></i> Leia Mais</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>

                                    <p class="author-category">By <a
                                            href="{{ post.get_absolute_url }}">{{ post.author }}</a>
                                    </p>

                                    <p class="intro">{{ post.get_description }}</p>

                                    <p class="read-more"><a href="{{ post.get_absolute_url }}"
                                                            class="btn btn-template-main">Continue
                                        Lendo</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image-text -->

                        </div>
                    {% endfor %}


                </div>
            </div>
        </section>
    {% endif %}


    <section class="bar background-white no-mb" id="contato">
        <div class="container" data-animate="fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h3 style="color: #000">Contate-nos</h3>
                    </div>

                    <form method="post" action="/submit-contact">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstname">Nome</label>
                                    <input name="name" type="text" class="form-control" id="name" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control" id="email" required>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="message">Mensagem</label>
                                    <textarea id="message" name="message" class="form-control" required></textarea>
                                </div>
                            </div>

                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>
                                    Enviar Mensagem
                                </button>

                            </div>
                        </div>
                        <!-- /.row -->
                    </form>

                </div>
            </div>
        </div>
    </section>
    {##}
    {#    <section class="bar background-gray no-mb">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-12">#}
    {#                    <ul class="owl-carousel customers">#}
    {#                        <li class="item">#}
    {#                            <img src="img/customer-1.png" alt="" class="img-responsive">#}
    {#                        </li>#}
    {#                        <li class="item">#}
    {#                            <img src="img/customer-2.png" alt="" class="img-responsive">#}
    {#                        </li>#}
    {#                        <li class="item">#}
    {#                            <img src="img/customer-3.png" alt="" class="img-responsive">#}
    {#                        </li>#}
    {#                        <li class="item">#}
    {#                            <img src="img/customer-4.png" alt="" class="img-responsive">#}
    {#                        </li>#}
    {#                        <li class="item">#}
    {#                            <img src="img/customer-5.png" alt="" class="img-responsive">#}
    {#                        </li>#}
    {#                        <li class="item">#}
    {#                            <img src="img/customer-6.png" alt="" class="img-responsive">#}
    {#                        </li>#}
    {#                    </ul>#}
    {#                    <!-- /.owl-carousel -->#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    {##}
    {#    <section class="bar background-image-fixed-2 no-mb color-white text-center">#}
    {#        <div class="dark-mask"></div>#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-12">#}
    {#                    <div class="icon icon-lg"><i class="fa fa-file-code-o"></i>#}
    {#                    </div>#}
    {#                    <h1>Do you want to see more?</h1>#}
    {#                    <p class="lead">We have prepared for you more than 40 different HTML pages, including 5 variations#}
    {#                        of homepage.</p>#}
    {#                    <p class="text-center">#}
    {#                        <a href="index3.html" class="btn btn-template-transparent-black btn-lg">Check other homepage</a>#}
    {#                    </p>#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
{% endblock %}