{% extends 'base_painel.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- /.box-body -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>PEDIDO</th>
                                        <th>ITEM</th>
                                        <th>CRIADO EM</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for mat in matches %}
                                        <tr>
                                            <td>{{ mat.id }}</td>
                                            <td>
                                                <a href="{% url 'change_match' mat.pk %}"> {{ mat.requirement }}</a>
                                            </td>
                                            <td>
                                                {{ mat.item.name_item }}
                                            </td>
                                            <td>{{ mat.created_at|date:"d/m/Y G:i" }}</td>
                                            <td>
                                                <a class="remover" href="{% url 'delete_match' mat.pk %}">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#matches').addClass('active');
        });
    </script>

{% endblock %}